export(
"bws.count",
"bws.dataset",
"bws.questionnaire",
"bws.response",
"bws.sp"
)

importFrom("stats", "sd", "reshape", "model.matrix",
           "contr.sum", "na.fail", "runif")
importFrom("graphics", "plot", "barplot", "text", "par")

S3method("print", "bws.count")
S3method("plot", "bws.count2")
S3method("barplot", "bws.count2")
S3method("sum", "bws.count2")
S3method("summary", "bws.count2")
S3method("print", "summary.bws.count2")

